<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div layout="column">
    <app-header></app-header>

    <div layout="row">
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-24dp">
            <md-list>
                <md-list-item>
                    <md-button class="sidebar-button" flex>
                        <i class="material-icons">search</i>
                        Search
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button class="sidebar-button" flex>
                        <i class="material-icons">favorite</i>
                        Popular
                    </md-button>
                </md-list-item>
                <br>
                <br>
                <md-list-item>
                    <md-button class="sidebar-button" flex>
                        <i class="material-icons">verified_user</i>
                        Privacy Settings
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button class="sidebar-button" flex>
                        <i class="material-icons">grade</i>
                        Go Pro
                    </md-button>
                </md-list-item>
                <br>
                <br>
                <md-list-item>
                    <md-button class="sidebar-button" flex>
                        <i class="material-icons">help</i>
                        Help
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button class="sidebar-button" flex>
                        <i class="material-icons">language</i>
                        Language
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button class="sidebar-button" flex>
                        <i class="material-icons">email</i>
                        Contact
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button class="sidebar-button" flex>
                        <i class="material-icons">info</i>
                        Terms & Conditions
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-button class="menu"><i class="material-icons">menu</i></md-button>
<!--
        <md-content flex>
            <ui-view flex></ui-view>
        </md-content> -->
    </div>

    <app-footer></app-footer>
</div>