<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div layout="column">
    <app-header></app-header>

    <div layout="row">

        <md-sidenav class="md-whiteframe-24dp" md-component-id="left">
            <md-list>
                <md-list-item>
                    <md-button style="text-align: left" flex>
                        <i style="vertical-align: middle" class="material-icons" flex>search</i>
                        Search
                        <span flex></span>
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button style="text-align: left" flex>
                        <i style="vertical-align: middle" class="material-icons">favorite</i>
                        Popular
                    </md-button>
                </md-list-item>
                <br>
                <md-divider></md-divider>
                <br>
                <md-list-item>
                    <md-button style="text-align: left" flex>
                        <i style="vertical-align: middle" class="material-icons">verified_user</i>
                        Privacy Settings
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button style="text-align: left" flex>
                        <i style="vertical-align: middle" class="material-icons">grade</i>
                        Go Pro
                    </md-button>
                </md-list-item>
                <br>
                <md-divider></md-divider>
                <br>
                <md-list-item>
                    <md-button style="text-align: left" flex>
                        <i style="vertical-align: middle" class="material-icons">help</i>
                        Help
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button style="text-align: left" flex>
                        <i style="vertical-align: middle" class="material-icons">language</i>
                        Language
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button style="text-align: left" flex>
                        <i style="vertical-align: middle" class="material-icons">email</i>
                        Contact
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button style="text-align: left" flex>
                        <i style="vertical-align: middle" class="material-icons">info</i>
                        Terms & Conditions
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex>
            <ui-view flex></ui-view>
        </md-content>
    </div>

    <app-footer></app-footer>
</div>