<div layout-fill class="filler" layout="column">
    <!-- <div flex="20" class="lightblue">test</div> -->
    <div layout="row" layout-margin layout-align="center center" class="lightblue">
        <md-button class="md-raised" href="#">Create</md-button>
        <md-button class="md-raised" href="#">Explore</md-button>
        <md-button class="md-raised" href="#">Templates</md-button>
    </div>
    <!-- <div flex="20" class="red">test</div> -->
</div>

<style>
    .red {
        background-color: red;
    }

    .lightblue {
        background-color: lightblue;
    }

    .lightgreen {
        background-color: lightgreen;
    }

    .filler {
        min-height: 100vh
    }
</style>