<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <md-dialog aria-label="PrivacySettings">
        <form ng-cloak>

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Privacy Settings</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <h2>Congratulations, You successfully made your timeline public!</h2>
                    <p>
                        You can now share the Link below for your friends or colleagues to see your timeline.
                    </p>

                    <!-- <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="img/mangues.jpg">-->

                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="cancel()">
                    OK
                </md-button>
            </md-dialog-actions>

        </form>
    </md-dialog>
</body>
</html>