<section layout="column" layout-align="center center">
    <h2>{{ $ctrl.getHeadline() }}</h2>
    <div layout="row" style="width: 100%">
    <md-button flex class="md-raised landing md-accent" ng-click="$ctrl.newTimeline()">Create a new timeline</md-button>
    </div>
</section>


<!-- We define timelines in routes.js.-->

<md-card ng-repeat="timeline in $ctrl.timelines">
    <md-card-title>
        <md-card-title-media>
            <div layout="row" layout-align="center center" layout-padding>
                <img ng-src="{{$ctrl.getPosterURL()}}" class="md-media-md">
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit(timeline)">
                    <md-icon>
                        <ng-md-icon icon="mode_edit"></ng-md-icon>
                    </md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Delete Item" ng-click="$ctrl.delete(timeline)">
                    <md-icon>
                        <ng-md-icon icon="delete"></ng-md-icon>
                    </md-icon>
                </md-button>
            </md-card-actions>

            <span class="md-headline">{{timeline.name}}</span>
            <span class="md-subhead">User: {{timeline.user}}</span>

        </md-card-title-text>

    </md-card-title>

    <md-card-content>
        <p>{{$ctrl.timeline.description}}</p>
    </md-card-content>
</md-card>