.timelineCard:hover {
    background-color: gainsboro;
}

.timelineCard {
    height: 14em;
}

.image {
    max-width: 22em;
    max-height: 10em;
}

.buttonArea {
    max-width: 15em;
}

.md-subhead.description {
    overflow: auto;
}

.views {
    margin-left: 1em;
    font-size: medium;
    vertical-align: middle;
    display: inline-block;
}

h2.timeHead {
    text-align: center;
    color: #666666;
}