<div layout="column" layout-padding>
    <md-content class="md-no-momentum">
        <h1> {{$ctrl.timeline.name}} </h1>
        <br/>
        <form name="timelineForm">
            <md-input-container class="md-icon-float md-block">
                <label>Name</label>
                <md-icon><ng-md-icon icon="title" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.timeline.name" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Description</label>
                <md-icon><ng-md-icon icon="title" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.timeline.description" type="text">
            </md-input-container>


            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.save()">Save</md-button>
                <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
            </div>

        </form>
    </md-content>

</div>