md-input-container .md-error-spacer{
    display:none;
}

.headline{
    text-align: center;
    background-color: rgb(82,159,233);
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.eventInput{
    padding-left: 10px;
    padding-right: 10px;
}
