<div layout-fill class="filler" layout="column">
    <div flex="20"></div>
    <div layout="row" layout-align="center center" class="lightblue" flex="60" style="background-image: url('../../assets/img/testbackground.png')">
        <md-button class="md-raised" ng-click="$ctrl.newTimeline()">Create</md-button>
        <md-button class="md-raised" ui-sref="home">Explore</md-button>
        <md-button class="md-raised" ui-sref="home">Templates</md-button>
    </div>
</div>

<style>
    .red {
        background-color: red;
    }

    .lightblue {
        background-color: lightblue;
    }

    .lightgreen {
        background-color: lightgreen;
    }

    .filler {
        min-height: 100vh
    }
</style>