<div layout-fill layout="column" class="lightgreen">
    <div flex="20" class="lightblue"></div>
    <div class="l" layout="row" flex="60" layout-align="center center">
        <md-button class="md-raised" href="#">Create</md-button>
        <md-button class="md-raised" href="#">Explore</md-button>
        <md-button class="md-raised" href="#">Templates</md-button>
    </div>
    <div flex="20" class="red"></div>
</div>
<!--
    <div style="background-image: url(../../assets/images/testbackground.jpg); flex">
    <section layout="row" layout-align="center center" flex>
      <md-button class="md-raised" href="#">Create</md-button>
      <md-button class="md-raised" href="#">Explore</md-button>
      <md-button class="md-raised" href="#">Templates</md-button>
    </section>
    </div>
    -->

<style>
    .red {
        background-color: red;
    }

    .lightblue {
        background-color: lightblue;
    }

    .lightgreen {
        background-color: lightgreen;
    }
</style>