.login-form md-card {
    padding: 0 !important;
}
.login-form md-card md-card-title {
    background-color: blue;
}

p {
    font-size: small;
}

.registerBtn {
    background: none;
    border: none;
    padding: 0px;
    color: blue;
}