<md-toolbar">

<div class="md-toolbar-tools" layout-fill>

    <md-button class="menu" ng-click="$ctrl.toggleSidebar()">
        <md-icon md-menu-align-target>
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-icon>
    </md-button>
    <span flex></span>

    <!-- old title
            <a ui-sref="home" layout="row">
                <md-icon><ng-md-icon icon="schedule" ></ng-md-icon></md-icon>
                <h1>Chronos</h1>
            </a>
    -->

    <a ui-sref="home" flex="30"><md-icon style="width:100%" md-svg-src="/../../src/assets/img/chronos-logo.svg"></md-icon></a>
    <!--
    <a ui-sref="timelines" layout="row">
                    <md-icon md-svg-src="../../assets/img/chronos-logo.svg" aria-label="android "></md-icon>
                    <md-icon><ng-md-icon icon="schedule" ></ng-md-icon></md-icon>
                    <h1>Chronos</h1>

    </a>
-->
    <span flex></span>
    <md-button ng-click="$ctrl.login($event)" ng-hide="$ctrl.isAuthenticated()">
        <md-icon md-menu-align-target>
            <ng-md-icon icon="login"></ng-md-icon>
        </md-icon>
        Login
    </md-button>
    <span ng-show="$ctrl.isAuthenticated()"><md-icon md-menu-align-target><ng-md-icon
            icon="account_circle"></ng-md-icon></md-icon>
            {{$ctrl.getCurrentUser()}}
        </span>
    <md-button ng-click="$ctrl.logout($event)" ng-show="$ctrl.isAuthenticated()">
        <md-icon md-menu-align-target>
            <ng-md-icon icon="logout"></ng-md-icon>
        </md-icon>
        Logout
    </md-button>
</div>
</md-toolbar>


