<md-toolbar>

    <div class="md-toolbar-tools">



        <a ui-sref="movies" layout="row">
            <md-icon><ng-md-icon icon="schedule" ></ng-md-icon></md-icon>
            <h2>Chronos</h2>
        </a>

        <span flex></span>
        <md-button>click</md-button>

        <span flex="5"></span>
        <md-button ng-click="$ctrl.login($event)" ng-hide="$ctrl.isAuthenticated()">
            <md-icon md-menu-align-target><ng-md-icon icon="login" ></ng-md-icon></md-icon>
            Login
        </md-button>
        <span ng-show ="$ctrl.isAuthenticated()"><md-icon md-menu-align-target><ng-md-icon icon="account_circle" ></ng-md-icon></md-icon>
            {{$ctrl.getCurrentUser()}}
        </span>
        <md-button ng-click="$ctrl.logout($event)" ng-show="$ctrl.isAuthenticated()">
            <md-icon md-menu-align-target><ng-md-icon icon="logout" ></ng-md-icon></md-icon>
            Logout
        </md-button>
    </div>
</md-toolbar>


